/***** SEARCH *****/
/* styling search bar */
.search input[type='text'] {
  width: 50%;
  height: 25px;
  border-radius: 25px;
  border: none;
  float: right;
  margin-right: 5px;
}

select {
  display: block;
  float: right;
  text-align: center;
  text-decoration: none;
  float: right;
  padding: 3px;
  font-size: 15px;
  border-radius: 25px;
  width: 25%;
  height: 28px;
  margin-right: 5px;
}

.search {
  margin: 5px;
  width: 100%;
}

.search button {
  background-color: #00417a;
  color: #f2f2f2;
  float: right;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
